{% extends 'homepage.html' %}
{% load static %}
{% block content %}
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->

	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		{% include 'include/header.html' %}
		<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="{% static 'images/parallax/bgparallax-07.jpg' %}">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-innerbannercontent">
							<h1>О нас</h1>
							<ol class="tg-breadcrumb">
								<li><a href="javascript:void(0);">главная</a></li>
								<li class="tg-active">О нас</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<!--************************************
					About Us Start
			*************************************-->
			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="tg-aboutus">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="tg-aboutusshortcode">
									<div class="tg-sectionhead">
										<h2><span>Добро пожаловать</span>Узнайте больше о нас</h2>
									</div>
									<div class="tg-description">
										<p>{{aboutus.description_library}}</p>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					About Us End
			*************************************-->
			<!--************************************
		
					Call to Action End
			*************************************-->
			<!--************************************
					Success Start
			*************************************-->
			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="tg-successstory">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="tg-sectionhead">
									<h2><span>Наши моменты гордости</span>Путешествие к успеху</h2>
								</div>
								<div id="tg-successslider" class="tg-successslider tg-success owl-carousel">
									<div class="item">
										<figure>
											<img  src="{{aboutus.photo_library.url}}" alt="image description">
										</figure>
										<div class="tg-successcontent">
											<div class="tg-sectionhead">
												<h2><span>June 27, 2017</span>История</h2>
											</div>
											<div class="tg-description">
												<p>{{aboutus.history}}</p>
											</div>
										</div>
									</div>
									<div class="item">
										<figure>
											<img src="{% static 'images/img-01.jpg' %}" alt="image description">
										</figure>
										<div class="tg-successcontent">
											<div class="tg-sectionhead">
												<h2><span>June 27, 2017</span>First Step Toward Success</h2>
											</div>
											<div class="tg-description">
												<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoiars nisiuip commodo consequat aute irure dolor in aprehenderit aveli esseati cillum dolor fugiat nulla pariatur cepteur sint occaecat cupidatat.</p>
											</div>
										</div>
									</div>
									<div class="item">
										<figure>
											<img src="{% static 'images/img-01.jpg' %}" alt="image description">
										</figure>
										<div class="tg-successcontent">
											<div class="tg-sectionhead">
												<h2><span>June 27, 2017</span>First Step Toward Success</h2>
											</div>
											<div class="tg-description">
												<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoiars nisiuip commodo consequat aute irure dolor in aprehenderit aveli esseati cillum dolor fugiat nulla pariatur cepteur sint occaecat cupidatat.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					Success End
			*************************************-->
			<!--************************************
		
			<!--************************************
					Authors Start
			*************************************-->
			<section class="tg-sectionspace tg-haslayout">

				<div class="container">

					<div class="row">

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="tg-sectionhead">
								<h2><span>Команда книжной библиотеки</span>Познакомьтесь с нашими профессионалами</h2>
							</div>
						</div>
						<div id="tg-teamsslider" class="tg-authors tg-authorsslider tg-teamsmember owl-carousel">
							{% for tem in team %}
							<div class="item tg-author tg-member">
								<figure><a href="javascript:void(0);"><img src="{{tem.worker_photo.url}}" alt="image description"></a></figure>
								<div class="tg-authorcontent">
									<h2><a href="javascript:void(0);">{{tem.worker_name}}</a></h2>
									<span>{{tem.worker_position}}</span>
									<ul class="tg-socialicons">
										<li class="tg-facebook"><a href="{{tem.facebook}}"><i class="fa fa-facebook"></i></a></li>
										<li class="tg-twitter"><a href="{{tem.twitter}}"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						
							{% endfor %}
						</div>
					</div>

				</div>

			</section>
			<!--************************************
					Authors End
			*************************************-->
		</main>
		<!--************************************
				Main End
		*************************************-->
		<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-haslayout">
			<div class="tg-footerarea">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<ul class="tg-clientservices">
								<li class="tg-devlivery">
									<span class="tg-clientserviceicon"><i class="icon-rocket"></i></span>
									<div class="tg-titlesubtitle">
										<h3>Fast Delivery</h3>
										<p>Shipping Worldwide</p>
									</div>
								</li>
								<li class="tg-discount">
									<span class="tg-clientserviceicon"><i class="icon-tag"></i></span>
									<div class="tg-titlesubtitle">
										<h3>Open Discount</h3>
										<p>Offering Open Discount</p>
									</div>
								</li>
								<li class="tg-quality">
									<span class="tg-clientserviceicon"><i class="icon-leaf"></i></span>
									<div class="tg-titlesubtitle">
										<h3>Eyes On Quality</h3>
										<p>Publishing Quality Work</p>
									</div>
								</li>
								<li class="tg-support">
									<span class="tg-clientserviceicon"><i class="icon-heart"></i></span>
									<div class="tg-titlesubtitle">
										<h3>24/7 Support</h3>
										<p>Serving Every Moments</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="tg-threecolumns">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="tg-footercol">
									<strong class="tg-logo"><a href="javascript:void(0);"><img src="{{setting.logo.url}}" alt="image description"></a></strong>
									<ul class="tg-contactinfo">
										<li>
											<i class="icon-apartment"></i>
											<address>{{setting.street}}</address>
										</li>
										<li>
											<i class="icon-phone-handset"></i>
											<span>
												<em>{{setting.phone}}</em>
											</span>
										</li>
										<li>
											<i class="icon-clock"></i>
											<span>{{setting.graphic}}</span>
										</li>
										<li>
											<i class="icon-envelope"></i>
											<span>
												<em><a href="mailto:support@domain.com">{{setting.email}}</a></em>
											</span>
										</li>
									</ul>
									<ul class="tg-socialicons">
										<li class="tg-facebook"><a href="{{setting.facebook}}"><i class="fa fa-facebook"></i></a></li>
										<li class="tg-twitter"><a href="{{setting.twitter}}"><i class="fa fa-twitter"></i></a></li>
										
									</ul>
								</div>
							</div>
						
						
						</div>
					</div>
				</div>
			</div>
			<div class="tg-newsletter">
				<div class="container">
					<div class="row"><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ul class="tg-clientservices">
							<li class="tg-devlivery">
								<span class="tg-clientserviceicon"><i class="icon-book"></i></span>
								<div class="tg-titlesubtitle">
									<h3>Очень много книг</h3>
									<p>Большой выбор</p>
								</div>
							</li>
							<li class="tg-discount">
								<span class="tg-clientserviceicon"><i class="icon-home"></i></span>
								<div class="tg-titlesubtitle">
									<h3>Большой зал</h3>
									<p>Много мест</p>
								</div>
							</li>
							<li class="tg-quality">
								<span class="tg-clientserviceicon"><i class="icon-leaf"></i></span>
								<div class="tg-titlesubtitle">
									<h3>Уютная атмосфера</h3>
									<p>Красивый дизайн</p>
								</div>
							</li>
							<li class="tg-support">
								<span class="tg-clientserviceicon"><i class="icon-heart"></i></span>
								<div class="tg-titlesubtitle">
									<h3>Вежливая команда</h3>
									<p>Индивидуальный подход</p>
								</div>
							</li>
						</ul>
					</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h4>Signup Newsletter!</h4>
							<h5>Consectetur adipisicing elit sed do eiusmod tempor incididunt.</h5>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<form class="tg-formtheme tg-formnewsletter">
								<fieldset>
									<input type="email" name="email" class="form-control" placeholder="Enter Your Email ID">
									<button type="button"><i class="icon-envelope"></i></button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-footerbar">
				<a id="tg-btnbacktotop" class="tg-btnbacktotop" href="javascript:void(0);"><i class="icon-chevron-up"></i></a>
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<span class="tg-paymenttype"><img src="{% static 'images/paymenticon.png' %}" alt="image description"></span>
							<span class="tg-copyright">2017 All Rights Reserved By &copy; Book Library</span>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--************************************
				Footer End
		*************************************-->
	</div>
	
	{% endblock %}